black==21.5b1
flake8==3.9.2
flake8-bugbear==21.4.3
isort==5.8.0
mypy==0.812
coverage==5.5
pytest==6.2.4
pytest-profiling==1.7.0
pdbpp==0.10.2
vermin==1.2.0
pyfakefs @ git+https://github.com/jmcgeheeiv/pyfakefs@a8a70bb7746ba24aa60c9915311e1ff5b402146c
